# --- Configurações para Ambiente de Produção (PROD) ---

# Servidor
server.port=8080

# Banco de Dados Production / Railway
spring.datasource.url=${DB_URL}
spring.datasource.username=${DB_USER}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver

# Supabase Storage Production
supabase.url=${SUPABASE_URL}
supabase.key.anon=${SUPABASE_KEY_ANON}
supabase.key.service=${SUPABASE_KEY_SERVICE}

# JWT PROD
jwt.secret=${JWT_SECRET}
jwt.expiration.ms=86400000

# --- Configurações de Debug PROD (opcional: false em produção) ---
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.format_sql=false
